<form action="addPost" method="post"  enctype="multipart/form-data">
    <textarea name="title"></textarea><br>
    <textarea name="content"></textarea>
    <input type="file" name="file">
    <input type="submit" value="Add Post" />
</form>